
@model IEnumerable<GameStoreDAL.Entities.Order>
@{ int amount = 0;
    double total = 0;}

<hr />
<ul class="list-group w-100">
    @for (int i = 0; i < Model.Count(); i++)
    {
        foreach (var item in Model.ElementAt(i).Games)
        {
            amount++;
            total += item.Price;
        }
        string address = ViewBag.Users[i].Address.Country + ", " + ViewBag.Users[i].Address.City + ", " + ViewBag.Users[i].Address.Street + ", " + ViewBag.Users[i].Address.Building;
        <a href="/Order/ShowOrder?id=@Model.ElementAt(i).Id">
            <ul class="list-group list-group-horizontal w-100">

                <li class="list-group-item w-100 font-24 mb-4 rounded-lg shadow-sm">
                    <div class="d-flex">
                        <h3 class="w-75">Order #@Model.ElementAt(i).Id</h3>
                        <p class="font-20 w-50 text-right">@Model.ElementAt(i).Date.ToShortDateString()</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-column w-25">
                            <p class="font-14 mb-0">Amount items:</p>
                            <p class="text-dark font-14 font-weight-bolder">@amount</p>
                        </div>
                        <div class="d-flex flex-column w-25">
                            <p class="font-14 mb-0">Total:</p>
                            <p class="text-dark font-14 font-weight-bolder">@total$</p>
                        </div>
                        <div class="d-flex flex-column w-25">
                            <p class="font-14 mb-0">Address:</p>
                            <p class="text-dark font-14 font-weight-bolder">@address</p>
                        </div>
                    </div>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="d-flex flex-column w-25 mt-4">

                                <p><a class="btn btn-warning font-14 font-weight-bolder" href="/Order/DeleteOrder?id=@Model.ElementAt(i).Id">Delete</a></p>
                            </div>
                        }
                </li>
            </ul>
        </a>
    amount = 0;total = 0;
    }
